/* Basic reset for better cross-browser compatibility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #7e26e2, #776dcf, rgb(63, 119, 204));
    color: #fff;
    /* background-image: url(newBg.jpg); */
    overflow: hidden;
}

header {
    width: 100%;
    background: linear-gradient(to right, #7f46c0, #776dcf);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Ensure the icon stays at the start */
header i {
    font-size: 30px;
    margin-left: 20px;
    flex-shrink: 0; /* Prevent icon from shrinking */
}

/* Center the h1 within available space */
header h1 {
    flex-grow: 1; /* Allow h1 to grow and take up remaining space */
    text-align: center; /* Center text inside h1 */
    margin: 0; /* Remove default margins */
    font-weight: bolder;
}

.weatherDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.weather-widget {
    background: rgba(255, 255, 255, 0.1);
    padding: 55px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.app-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

.input-field {
    padding: 15px;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    width: 290px;
}

.button {
    background-color: #f39c12;
    border: none;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e67e22;
}

.container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 100%;
}

.container p {
    margin-bottom: 20px;
}

.weather-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.weather-label {
    font-weight: bold;
    color: #fff;
}

.weather-value {
    color: #fff;
}

.weather-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.forecast-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.forecast-date {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.forecast-details {
    display: grid;
    gap: 10px;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forecast-label {
    font-weight: bold;
    color: #fff;
}

.forecast-value {
    color: #fff;
}
