/* Basic reset for better cross-browser compatibility */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #7e26e2, #776dcf, rgb(63, 119, 204));
    color: #fff;
}

header {
    width: 100%;
    background: linear-gradient(to right, #7f46c0, #776dcf);
    padding: 15px;
    display: flex;
    align-items: center;
    align-self: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    color: white;
}

header i { 
    font-size: 30px;
    margin-right: 20px;
    flex-shrink: 0; 
}

header h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-weight: bolder;
}

.weatherDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.weather-widget, .container {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
}

.weather-widget p {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}

.weather-widget i {
    color: #fff;
    margin-right: 8px;
    font-size: 20px;
}

.locationButton {
    margin-top: 20px;
    border: 0;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.app-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

.input-field {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    border: none;
    margin-right: 10px;
    width: 300px;
    max-width: 100%;
}

.button {
    background-color: #fff;
    border: none;
    color: gray;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #e67e22;
}


.weather-item {
    margin-bottom: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 8px;
}

.weather-label {
    font-weight: bold;
    color: #fff;
}

.weather-value {
    color: #fff;
}

.weather-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.forecast-card {
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.forecast-date {
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.forecast-details {
    display: grid;
    gap: 10px;
}

.forecast-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.forecast-label {
    font-weight: bold;
    color: #fff;
}

.forecast-value {
    color: #fff;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #333;
    color: #fff;
    transition: left 0.3s ease;
    padding: 20px;
    overflow-y: auto;
    z-index: 100;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar.active {
    left: 0;
}

.sidebar i {
    cursor: pointer;
    display: block;
    margin-bottom: 20px;
    text-align: right;
    font-size: 24px;
}

.search-history {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.history-item {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.history-item:hover {
    background: rgba(255, 255, 255, 0.2);
}

.history-item .city-icon {
    display: flex;
    align-items: center;
}

.history-item .city-icon img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.history-item .city-name {
    flex-grow: 1;
    font-size: 16px;
}

.history-item .temperature {
    font-size: 20px;
    font-weight: bold;
}


/* Media queries for responsiveness */
@media (max-width: 1024px) {
    .weatherDisplay {
        grid-template-columns: 1fr;
    }

    .forecast-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
   

    .weatherDisplay {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .weather-widget, .container {
        width: 100%;
        padding: 15px;
        
    }
    .current-container{
        margin-top: 10px;
    }

    .input-field {
        width: 100%;
        margin-bottom: 10px;
    }

    .button {
        width: 100%;
        padding: 15px;
    }

    .forecast-container {
        grid-template-columns: 1fr;
    }

    
}

@media (max-width: 480px) {

    .input-field {
        padding: 10px;
    }

    .button {
        padding: 10px;
    }

    .forecast-card {
        padding: 15px;
    }

    .forecast-container {
        grid-template-columns: 1fr;
    }

    header {
        font-size: 14px;
        text-align: center;
    }

}
